
/* Basic styling */
body {
    font-family: Arial, sans-serif;
    color: #100F3F;
}

h1, h2, h3, .header1, .header2{
    color: #100F3F;
}

p, ul,.accordion-button{
    color: #100F3F ; 
}


footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
}

/* Top Bar Styling */
.top-bar-right a,
.top-bar-left a {
    text-decoration: none;
    margin: 0.5rem;
}

/* News and Featured Property Section */
.news-item,
.featured-property-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.rounded-image {
    width: 7rem;  
    height: 6rem; 
    object-fit: cover; 
    border-radius: 5px;
}


.news-item img,
.featured-property-item img {
    object-fit: cover;
}

.news-item p,
.featured-property-item p {
    font-weight: 600;
    margin: 0;
}

.news-item small,
.featured-property-item small {
    color: #777;
}

.viewphn{
    background-color: #100F3F;
    color: white;
}

.viewphn:hover{
    background-color: darkblue;
}

/* Footer */ 
.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    color: #333;
}
.footer h6 {
    font-weight: bold;
    margin-bottom: 20px;
}
.footer a {
    color: #333;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
.social-icons a {
    margin-right: 15px;
    color: #333;
    font-size: 18px;
}
.social-icons a:hover {
    color: #007bff;
}

.footerbtn{
    background-color: #100F3F;
    color: white !important;
}

.footerbtn:hover{
    background-color: darkblue;
}

.footer-mb li {
    margin-bottom: 6px;
}

.progress-bar {
    position: absolute;
    top: 675px;
    left: 0;
    width: 63%;
    height: 10px;
    margin-left: 8.5%;
    border-radius: 20px;
    background-color: gray;
    transform: translateY(-50%);
    z-index: 9999; }

.progress {
    height: 100%;
    width: 0;
    background-color: black;
    transition: width 0.2s ease-in-out;
}
